/* make sure you change the first rule when copying and pasting into webflow */
/* #canvas-wrap  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Castledown, sans-serif;
  text-align: center;
}

body {
  display: flex;
  color: whitesmoke;
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, rgba(27,26,45,1) 0%, rgba(27,27,46,1) 40%, rgba(172,115,130,1) 100%);
}

.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 60px;
  position: absolute;
  top: 0;
}

.header__col {
  text-align: right;
  margin-bottom: 4px;
}

.header-game a.header_exit {
  display: inline-block;
  background-color: #323142;
  color: #F1EDE8;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 32px;
  border-radius: 40px;
  transition: color 0.3s, background-color 0.3s;
}

.header-game a.header_exit:hover {
  color: #323142;
  background-color: #F1EDE8;
}

#pregame-card {
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: absolute;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  max-width: 90%;
}

#pregame-header {
  color: #fff;
  font-weight: 900;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: -0.02em;
  margin: 0;
}

#profiles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 95px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  transition: border 0.5s, background-color 0.5s;
  border: solid 2px transparent;
  cursor: pointer;
}

.player-card-name {
  color: #fff;
  font-size: 20px;
  transition: font-size 0.3s, color 0.3s;
  margin: 0;
}

.player-card-avatar {
  width: 135px;
  height: auto;
  border-radius: 42px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: width 0.3s
}

.player-card:focus {
  outline: none;
}
.player-card:hover {
  opacity: 1;
}
#game-settings-card {
  position: absolute;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  border-radius: 15px;
  padding: 30px 50px;
  z-index: 2;
  max-width: 1150px;
}

#game-settings-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#game-settings-card form > p {
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 40px;
  max-width: 620px;
  text-align: center;
}

#category-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 13px;
  column-gap: 22px;
  width: 100%;
  border: none;
}

#category-container {
  display: flex;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

#category-fieldset input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#category-fieldset label {
  border: none;
  border-radius: 75px;
  background-color: #323142;
  color: #F8E6AD;
  padding: 0 32px;
  min-height: 58px;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.defbutton {
  text-decoration: none;
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 136px;
}

.setting_cont{
  display: flex;
  flex-direction: column;
  width: inherit;
}

.set_cols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sett_col {
  width: inherit;
}

.sett_col_img {
  width: inherit;
  border-radius: 45px;
  height: 136px;
  margin-bottom: 14px;
  background-color: #F1EDE8;
  background-repeat: no-repeat;
  background-position: center;

}

#colorpencil svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.sett_col_img.playagain {
  background-color: #FF6745;
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199a8a081749c714b7ed_play.svg');
}

.playnew {
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199afd55873d4ac356ee_star.svg');
}

.playguess {
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199accb1e13d3539b748_man.svg');
}

.backlist {
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199a763278d2a8bf6a2c_back.svg');
}

.sett_col_img:hover{
  background-color: #41449A;
}

.sett_col_img.playnew:hover{
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199a82dad76f6b782654_star_h.svg');
}

.sett_col_img.playguess:hover{
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199a0fc06206ea44dd92_man_h.svg');
}

.sett_col_img.backlist:hover{
  background-image: url('https://uploads-ssl.webflow.com/639b28d64a19b13d69a32af9/63c0199a70936249ddd9ec6b_back_h.svg');
}

.sett_col span{
  font-size: 20px;
  color: #1B1A2D;
  font-style: normal;
  font-weight: 900;
}





#category-fieldset label svg {
  margin-right: 12px;
}

#category-fieldset [for~="special"]{
  background-image: url('https://raw.githack.com/vadimmelnikov/game-files/main/images/special-button.jpg');
  background-size: cover;
  transition: background-image 0.3s;
  position: relative;
}

#category-fieldset [for~="special"]:hover {
  background-image: url('https://raw.githack.com/vadimmelnikov/game-files/main/images/special-button-hover.jpg');
  color: #F8E6AD;
}

#category-fieldset input:not([id~="special"]):checked + label {
  background-color: #F8E6AD;
  color: #1B1A2D;
}


#category-fieldset input[id~="special"]:checked + label {
  background-image: url('./images/special-button-hover.jpg');
}

#category-fieldset input[id~="special"]:checked + label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 3px solid #F8E6AD;
  border-radius: 75px;
  box-sizing: border-box;
}

#difficulty-width-slider-container {
  width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#difficulty-width-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: #706e79;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.difficulty-width-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
}

.difficulty-width-slider-wrapper span {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  margin: 0 12px;
  position: relative;
  top: -12px;
  display: block;

}

#difficulty-width-slider:hover {
  opacity: 1;
}

#difficulty-width-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F8E6AD;
  cursor: pointer;
}

#difficulty-width-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F8E6AD;
  cursor: pointer;
}

#difficulty-width-slider-ticks {
  width: 99%;
  max-width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#difficulty-width-slider-ticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1.5px;
  background: #D3D3D3;
  height: 5px;
  line-height: 30px;
  margin: 3px 0 20px 0;
  font-size: 0.9rem ;
}

#canvas-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.debug {
  color: blue;
}

#rotate-header {
  color: white;
  margin-top: 70px;
}

#top-protrusion {
  border: 1px solid #323142;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 12px;
  padding-right: 18px;
  border-radius: 40px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#top-protrusion img {
  margin-right: 16px;
}

#top-protrusion p {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
}

#selected-prompt {
  font-size: 37px;
  line-height: 39px;
  margin-bottom: 0;
}

#selected-prompt span{
  display: none;
}

#canvas-border-div {
  border-radius: 40px;
  overflow: hidden;
}

#canvas {
  display: block;
  padding: 0;
  width: 100%;
  border-radius: 40px;
}

#canvas-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 96px;
  width: 100%;
  overflow-y: hidden;
  display: none;
}

#canvas-controls-container {
  display: flex;
  align-items: center;
  background-color: #323142;
  border-radius: 70px;
  height: 96px;
  padding: 0 36px;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;}

#eraser-button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 48px;
  transition: top 0.3s;
}

#endgame-options-container, .tim-up {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

#endgame-options-container::after, .tim-up::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(27, 26, 45, 0.3);
  backdrop-filter: blur(12px);
  z-index: 19;
}

.endgame-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.15);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  max-width: 540px;
  width: 100%;
  position: relative;
  z-index: 21;
}

.endgame-wrapper h4 {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  color: #1B1A2D;
}

.endgame-wrapper p {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #1B1A2D;
}

.endgame-wrapper button, .endgame-wrapper a {
  margin-bottom: 16px;
}

#eraser-button-selected {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 24px;
  transition: all 0.3s;
}

#eraser-button-selected:hover {
  /* top: 10px; */
  opacity: 0.85;
}

#eraser-image {
  width: 100%;
  height: auto;
}

#stroke-width-slider-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 12px;
  margin-left: 36px;
}

#stroke-width-slider-container p:first-of-type {
  position: relative;
  bottom: 2.5px;
  margin: 0;
}

#stroke-width-slider-container p:last-of-type {
  position: relative;
  bottom: 1px;
  margin: 0;
}

#stroke-width-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 6px;
  border-radius: 6.5px;
  background: #6b6974;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  touch-action: none;
}

#stroke-width-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F1EDE8;
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

#stroke-width-slider::-moz-range-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F1EDE8;
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

#pencil-button {
  z-index: 1;
  position: relative;
  top: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  transition: all 0.3s;
}

#pencil-button-selected {
  top: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /*height: auto;*/
  transition: all 0.2s;
}

#pencil-button-selected:hover {
  opacity: 0.85;
  top: 28px;
}

.pencil-button {
  z-index: 1;
  position: relative;
  bottom: 0;
  transition: top 0.3s;
  width: 43px;
  height: 132px;
}


.pencil-button img {
  /*width: 100%;*/
  /*height: auto;*/
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.eraser-button img {
  width: 100%;
  height: auto;
}

.eraser-button {
  width: 43px;
  margin-left: 16px;
}

/* #pencil-svg {
  width: 25px;
  height: auto;
} */


.color-pen {
  fill: #000000;
  transition: fill 0.35s;
}

.cls-2 {
  fill: #f6bb6b;
}

.cls-3 {
  fill: #231f20;
  opacity: .3;
}

#color-picker {
  opacity: 0;
  /* z-index: 0; */
  position: relative;
  bottom: 40px;
  left: 16px;
  width: 0;
  /* overflow: auto; */
}
#color-picker-list{
  width: 0;
  height: 0;
  opacity: 0;
}

.color-picker-wrapper {
  margin-left: 32px;
  margin-right: 20px;
}

.color-picker-item {
  margin-right: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarimg {
  width: 128px;
  height: 132.5px;
}
#openpicker{
  width: 27px;
  height: 27px;
}

.color-picker-item label{
  margin: 0;
}


.color-picker-item span {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: block;
  transition: transform 0.3s;
  pointer-events: none;
}

.color-picker-item input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

.color-picker-item input:not(:checked):hover + span {
  transform: scale(1.1);
}

.color-picker-item input:checked + span::after {
  content: '';
  position: absolute;
  width: calc(36px + 12px);
  height: calc(36px + 12px);
  left: -12px;
  top: -12px;
  border: 2px solid #F1EDE8;
  border-radius: 100%;
}

#submit-countdown-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;  /* background-color: red; */
}

#submit-early-button, #submit-settings-button {
  border: none;
  border-radius: 8px;
  background-color: #FF6745;
  padding: 0 42px;
  cursor: pointer;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  border-radius: 75px;
  height: 96px;
  color: #F1EDE8;
  transition: background-color 0.3s;
}

#submit-early-button:hover, #submit-settings-button:hover {
  background-color: #41449A;
}

#countdown, .zerotime {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  position: relative;
}

.cls-1 {
  fill: none;
  stroke: #323142;
  stroke-linejoin: round;
  stroke-width: 7px;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 160s circletimer linear;
}

.timer-circle{
  fill: none;
  stroke: #FF6745;
  stroke-linejoin: round;
  stroke-width: 7px;
}

.zerotime-svg  .timer-circle{
  stroke: #f2ede7;
}

.zerotime-cls {
  fill: none;
  stroke: #ff6744;
  stroke-linejoin: round;
  stroke-width: 7px;
  stroke-dashoffset: 490;
  stroke-dasharray: 500;
  /*animation: 160s circletimer linear;*/
}

#countdown-svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}
.zerotime-svg {
  transform: rotateY(-180deg) rotateZ(-110deg);
}

#countdown-number,.zerotime-number {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F1EDE8;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

.zerotime-number {
  color: #ff6744;
}

#ipad-test {
  color: green;
}


@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

@keyframes circletimer2 {
  0% {
    stroke: #fff;
  }
  100% {
    stroke: red;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#prompts-and-skip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
  border-radius: 15px;
  position: unset;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  touch-action: manipulation;
  width: 75%;
  max-width: 75%;
}

#prompts-and-skip-container h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  color: #F1EDE8;
  margin-bottom: 40px;
}

@-webkit-keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#prompts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* padding: 1.5vw; */
}

#prompts button {
  margin-bottom: 24px;
}

button:hover, #category-fieldset label:hover {
  color: #1B1A2D;
}

.prompt {
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 75px;
  padding: 0 24px;
  min-height: 90px;
  cursor: pointer;
  background-color: #323142;
  color: #F8E6AD;
  transition: background-color 0.3s, color 0.3s;
}
.prompt span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 58px;
  background: #F8E6AD;
  border-radius: 100px;
  color: #1B1A2D;
  margin-right: 24px;
}

.prompt:focus, .endgame-option:focus, #category-fieldset label:focus{
  background-color: #F8E6AD;
}

.prompt:hover {
  background-color: #F8E6AD;
}

.prompt:hover span {
  background-color: #1B1A2D;
  color: #F8E6AD;
}

#category-fieldset label:hover{
  background-color: #F8E6AD;
}

.endgame-option {
  text-decoration: none;
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  border: 3px solid #FF6745;
  color: #FF6745;
  border-radius: 75px;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  width: 100%;
  height: 96px;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
}

.endgame-option:hover {
  border-color: #41449A;
  color: #41449A;
}

.endgame-option-primary {
  text-decoration: none;
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  background-color: #FF6745;
  color: #fff;
  border-radius: 75px;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  width: 100%;
  height: 96px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.endgame-option-primary:hover {
  background: #41449A;
  color: #fff;
}

#skip-button {
  cursor: pointer;
  border: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 75px;
  padding: 0 24px;
  min-height: 90px;
  cursor: pointer;
  background-color: #323142;
  color: #F8E6AD;
  transition: background-color 0.3s, color 0.3s;
}

#skip-button img {
  margin-right: 24px;
}

#skip-image {
  width: 80px;
  height: auto;
}

.range-wrapper {
  background-color: #323142;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 40px;
  border-radius: 44px;
  max-width: 638px;
  width: 100%;
  margin-bottom: 40px;
}

.range-wrapper p {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  color: #F1EDE8;
  margin-bottom: 24px;
}





@media only screen and (min-width: 1126px) {

  #eraser-button:hover {
    top: 8px;
    opacity: 0.85;
  }

  #pencil-button:hover {
    opacity: 0.85;
    top: -10px;
  }

};

/* @media only screen and (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) Tablet { */
/* @media only screen and (max-width: 768px), only screen and (max-height: 768px) and (orientation: landscape) Tablet { */


@media only screen and (max-width: 780px), only screen and (orientation: landscape) and (max-width: 1125px){

  #ipad-test {
    color: red;
  }

  #pregame-card {
    gap: 25px;
  }

  #pregame-header {
    font-size: 35px;
  }

  #profiles-container {
    gap: 20px 30px;
  }

  .player-card {
    gap: 7px;
    /* border: solid 1px grey; */
  }

  .player-card-name {
    font-size: 21px;
  }

  .player-card-avatar {
    width: 115px;
    /* border: solid 5px transparent; */
  }

  .player-card:hover .player-card-name, .player-card:focus .player-card-name{
    color: #f6a030;
    font-size: 26px;
  }

  .player-card:hover .player-card-avatar, .player-card:focus .player-card-avatar{
    outline: solid 3px #f6a030;
    width: 130px;
  }


  #game-settings-card {
    max-width: 80%;
    padding: 20px 35px;
  }

  #game-settings-card form {
    gap: 16px;
  }

  #game-settings-card form > p {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  #category-fieldset {
    row-gap: 11px;
    column-gap: 20px;
  }

  #category-container {
    row-gap: 11px;
    column-gap: 20px;
  }

  #category-fieldset label {
    padding: 0.5rem 1.05rem;
    font-size: 16px;
    line-height: 18px;
    background-size: 24px 24px;
    background-position: 3px 3px;
    font-weight: 400;
  }

}


/* @media only screen and (max-height: 480px) and (max-width: 780px) and (orientation: landscape) Mobile { */
/* @media only screen and (max-width: 480px), only screen and (max-height: 480px) and (orientation: landscape) Mobile { */
@media only screen and (max-width: 480px), only screen and (max-width: 950px) and (orientation: landscape) /* Mobile */ {
  /* body {
    background-color: green;
  } */
  #ipad-test {
    color: blue;
  }

  #pregame-card {
    gap: 16px;
  }

  #pregame-header {
    font-size: 32px;
  }

  #profiles-container {
    gap: 20px 22px;
  }

  .player-card {
    gap: 7px;
    /* border: solid 1px grey; */
  }

  .player-card-name {
    font-size: 20px;
  }

  .player-card-avatar {
    width: 85px;
    /* border: solid 5px transparent; */
  }

  .player-card:hover .player-card-name, .player-card:focus .player-card-name{
    color: #f6a030;
    font-size: 25px;
  }

  .player-card:hover .player-card-avatar, .player-card:focus .player-card-avatar{
    outline: solid 2px #f6a030;
    width: 100px;
    /* border-radius: 4px; */
  }

  #game-settings-card {

    max-width: 82%;
    padding: 10px 25px;
    /* top: 35%; */

    /* touch-action: manipulation; */
  }

  #game-settings-card form {
    gap: 9px;
  }

  #game-settings-card form > p {
    font-size: 4.5vh;
    line-height: 4.5vh;
  }

  #category-fieldset {
    row-gap: 0.8vh;
    column-gap: 1.5vh;
  }

  #category-container {
    row-gap: 0.8vh;
    column-gap: 1.5vh;
  }

  #category-fieldset label {
    padding: 1.5vh 3.5vh;
    font-size: 3vh;
    line-height: 3vh;
    background-size: 16px 16px;
    background-position: 3px 3px;
    font-weight: 400;
  }

  #difficulty-width-slider {
    height: 2vh;
    border-radius: 2vh;
  }

  #difficulty-width-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  #difficulty-width-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }

  #difficulty-width-slider-ticks {
    width: 97%;
    max-width: 97%;
    padding: 0;
  }

  #difficulty-width-slider-ticks p {
    width: 1.5px;
    height: 4px;
    line-height: 1.25rem;
    margin: 0 0 10px 0;
    font-size: 10.5px ;
  }

  #submit-settings-button {
    font-size: 13px;
    padding: 6px 15px;
    background-size: 20px 20px;
  }

  #canvas-border-div {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #top-protrusion {
    height: 36px;
    max-height: 60px;
    padding: 6px 11px 6px 11px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
  }

  #selected-prompt {
    font-size: 20px;
    line-height: 20px;
  }

  .prompt, .endgame-option {
    border-radius: 0.5rem;
    padding: 4px 26px;
    font-size: 15px;
    line-height: 18px;
    background-size: 30px 30px;
    background-position: 4px 4px;
    touch-action: manipulation;
  }

  .prompt {
    min-height: 60px;
  }

  .endgame-option {
    min-height: 45px;
  }

  #prompts-and-skip-container {
    gap: 13px;
    padding: 25px 30px;
    /* top: 0;
    bottom: 0;
    margin: auto 0; */
  }

  #skip-image {
    width: 60px;
  }

  #canvas-overlay {
    border-radius: 10px;
    bottom: 0px;
    height: 70px;
    overflow-y: hidden;
    touch-action: manipulation;
  }

  #canvas-controls-container {
    gap: 10px;
  }

  #submit-early-button {
    padding: 6px 20px;
    background-size: 25px 25px;
    background-position: 3px 3px;
    border-radius: 4px;
  }

  #eraser-image {
    width: 20px;
    height: auto;
  }

  #pencil-button-selected {
    top: 12px;
    width: 25px;
    height: auto;
  }

  #pencil-button {
    top: 25px;
    width: 25px;
    height: auto;
  }

  #eraser-button {
    top: 22px;
  }

  #eraser-button-selected {
    top: 8px;
  }

  #stroke-width-slider {
    height: 10px;
    border-radius: 5px;
  }

  #stroke-width-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  #stroke-width-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }

  #countdown, .zerotime {
    width: 42px;
    height: 42px;
  }

  .cls-1, .timer-circle {
    stroke-width: 11px;
  }

  #countdown-number, .zerotime-number {
    font-size: 13px;
  }

  #endgame-options-container, .tim-up {
    gap: 15px;
  }

}


/* gm styles */

#rotate-header,
.gm_exit_parent {
  display: none;
}
#game-settings-card {
  position: unset;
  padding: 0;
  padding-bottom: 20px;
}
#rotate-header{
  position: absolute;
  top: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rotate-header h1{
  margin-top: 100px;
  max-width: 430px;
  font-size: 46px;
  line-height: 56px;
}


@media screen and (max-width:768px) {
  .header-game{
    padding: 24px 40px;
  }
  #pregame-card{
    gap: 80px;
    top: 150px!important;
  }
  #profiles-container {
    gap: 95px;
  }
  .player-card-avatar {
    width: 128px;
  }
  .player-card-name{
    font-size: 20px;
  }
  .player-card {
    gap: 20px;
  }
  #pregame-header {
    font-size: 46px;
  }
  #top-protrusion{
    padding: 26px 8px;
  }
  .header__col {
    margin-bottom: 0;
  }
  #category-container {
    row-gap: 16px;
    column-gap: 16px;
  }
  #category-fieldset label{
    font-size: 20px;
  }
  #submit-settings-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 42px;
    height: 96px;
    background: #FF6745;
    border-radius: 75.57px;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
  }
  .range-wrapper,
  #game-settings-card form > p {
    margin-bottom: 20px;
  }
  #game-settings-card form > p {
    font-size: 46px;
    line-height: 56px;
  }
  .prompt{
    font-size: 32px;
    line-height: 42px;
    padding: 26px 42px 26px 28px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 75.57px;
  }
  #prompts-and-skip-container{
    width: 100%;
    max-width: 100%;
    gap: 0;
    padding: 0;
  }
  #skip-button {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
  }
}


@media screen and (max-width:480px) {
  body{
    height: 140vh;
  }
  .header-game{
    justify-content: center;
  }
  .header-game > img, .header__col{
    display: none;
  }
  .player-card-avatar {
    width: 108px;
  }
  #profiles-container {
    gap: 53px;
  }
  #profiles-container {
    justify-content: space-between;
    padding: 0px 32px;
  }
  .gm_exit_parent {
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 15px;
    padding-left: 13px;
    padding-top: 5px;
  }
  #top-protrusion .gm_exit_parent .gm_exit img{
    margin-right: 5px;
  }
  #game-settings-card{
    padding: 20px;
    max-width: 100%;
    height: 100%;
  }
  #game-settings-card form > p{
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    max-width: 300px;
  }
  #category-fieldset label{
    font-size: 16px;
  }
  #rotate-header h1 {
    margin-top: 57px;
    max-width: 300px;
    font-size: 30px;
    line-height: 33px;
  }
  #rotate-header img {
    max-width: 200px;
  }
  #submit-settings-button{
    padding: 16px 42px;
    height: 58px;
    font-size: 20px;
    line-height: 26px;
    color: #F1EDE8;
  }
  #prompts-and-skip-container h2 {
    font-size: 36px;
    line-height: 38px;
  }
  .prompt {
    font-size: 20px;
    line-height: 26px;
    padding: 24px 32px 24px 24px;
  }
  #skip-button {
    font-size: 20px;
    width: 100%;
  }
  .prompt span{
    margin-right: 16px;
  }
  #skip-button img {
    margin-right: 16px;
  }
  #prompts button {
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
  }
  #prompts-and-skip-container {
    padding: 0 20px;
  }
  #prompts {
    width: 100%;
  }
  #canvas-wrap{
    justify-content: flex-start;
  }
}

@media screen and (max-width:380px) {
  #profiles-container {
    padding: 0px 20px;
  }
}


@media only screen and (orientation: portrait) {
  .gmactive #rotate-header {
    display: flex;
  }
  .gmactive #canvas-border-div,
  .gmactive #canvas-overlay{
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .gmactive #rotate-header {
    display: none;
  }
  .gmactive #canvas-border-div{
    display: block;
  }
  .gmactive #canvas-overlay{
    display: flex;
    bottom: 0!important;
  }
  .color-picker-item span {
    width: 27px;
    height: 27px;
  }
  #canvas-controls-container{
    height: 100%;
  }
  #submit-early-button{
    height: 70px;
    font-size: 20px;
    line-height: 26px;
  }
  #countdown, .zerotime{
    width: 70px;
    height: 70px;
  }
  #countdown-number, .zerotime-number{
    font-size: 23px;
    line-height: 30px;
  }
  #canvas-controls-container {
    gap: 0;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .gmactive #canvas-overlay{
    display: flex;
    bottom: 0!important;
    position: unset!important;
    width: 95%!important;
  }
  .header-game{
    padding: 5px 20px;
    position: relative;
  }
  #canvas-wrap{
    justify-content: space-between;
    gap: 15px;
  }
}


@media only screen and (max-width: 850px) and (orientation: landscape){
  #canvas {
    max-height: 600px;
    width: 95vw;
  }
}

@media screen and (max-width: 600px) {
  .endgame-wrapper {
    padding: 30px;
    max-width: none;
    width: 90%;
  }
  .defbutton {
    margin-right: 10px;
  }
  .set_cols {
    align-items: self-start;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .setting_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .set_cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .endgame-wrapper {
    padding: 0px;
    max-width: none;
    width: inherit;
  }
  #canvas-wrap {
    align-items: baseline;
  }
  .gmactive #canvas-overlay {
    width: 100% !important;
    overflow: hidden;
  }
  #submit-countdown-container {
    gap: 0;
  }
}
.player-button-avatar{
  width: 128px;
  height: 132.5px;
}
